

/* Style for the recommended drink and the page where it is possible to view more information about each drink */

/*Arrow*/
#leftArrow {
    float: left;
    width: 5%;
    position: relative;
    margin-top: 50px;
    left: 70px;
}

/* animation style for arrow*/
.rotate {
    transform: rotate(180deg);
}


#recDrinkDiv {
    width:40%;
    display: block;
    padding-top:40px;
    margin-left:auto;
    margin-right: auto;
    height: 50vh;
}

#recDrink {
    position:relative;
    height: 50vh;
}

#recText {
    top:-1.5em;
    width:55%;
    height: 50vh;
    float: right;
    position:relative;
}

#recDrinkName {
    position:absolute;
    bottom: 50%;
}

#recDrinkPrice {
    position:absolute;
    bottom: 38%;
    opacity: 0.5;
}

#recDrinkBuy {
    width: 80%;
    height: 20%;
    position:absolute;
    bottom:0%;
}

#recDrinkBuyText {
    font-family: roboto;
    color: white;
    font-size:1.5em;
    width: 10%;
    height: 70px;
    display: table-cell;
    vertical-align:middle;
    text-align:center;
}

.counterText {
    font-family: roboto;
    color:#76a3b6;
    font-size: 1.5em;
    margin: 1%;
}

.counterImages{
    width:30%;
}

#nrOfDrinks{
    position:absolute;
    bottom: 34%;
}

#plus{
    float: right;
}

#minus{
    float: left;
}

#drinkCounter {
    width:50%;
    height: 1.5em;
    position:absolute;
    bottom: 27%;
}

#countNumber{
    text-align: center;
}

