/*
File: loginstyle.css

This file is currently the css file for the first page and the login page.
 */

/* This is for when using the <h1> tag */
h1{
    font-family: "Times New Roman";
    font-size: 55pt;
    color:cadetblue;
    opacity: 0.8;
}

/* This is for when using the <h2> tag */
h2{
    font-family: "Times New Roman";
    font-size:40pt;
    color:cadetblue;
    opacity: 0.8;

}

/* This is for when using the <header> tag*/
header{
    position: absolute;
    right:30px;
}

/* This is for the position of the welcome text and the two select buttons on the firstPage */
#optionbox{
    position: absolute;
    top:100px;
    left:450px;
}

/* This is for the select buttons on the FirstPage*/
#options{
    font-family: "Times New Roman";
    font-size: 30px;
    color:white;
    background-color: cadetblue;
    opacity: 0.8;
    float:left;
    margin-left: 25px;
    margin-right:15px;
    width:150px

}

/* This is for the position of the staff button on the firstPage*/
#staff{
    position: absolute;
    right:10px;
    bottom: 10px;

}

/* This is the select button for staff members on the firstPage*/
#staffOption{
    font-family: "Times New Roman";
    font-size: 20px;
    color:white;
    background-color: cadetblue;
    opacity: 0.5;
}

/* This is for the position of the login box on the LoginPage*/
#loginbox{
    position: absolute;
    top:100px;
    left:550px;
    width:500px;
}

/* This is for the option form to write in username and password on the LoginPage*/
#loginOption{
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    font-size: 30px;

}

/*This is the select buttons on the LoginPage*/
#choice{
    font-family: "Times New Roman";
    font-size: 20px;
    color:white;
    background-color: cadetblue;
    opacity: 0.8;
    float:left;
    margin-right:5px;
    width:100px;
    }

/*
END of file loginstyle.css
 */