/*
File: loginstyle.css

This file is currently the css file for the first page and the login page.
 */

/*load new font family*/
@font-face {
    font-family: roboto;
    src: url(Roboto-Thin.ttf);
}


/* This is for when using the <h1> tag */
h1{
    font-family: "roboto";
    font-size: 55pt;
    color: #76a3b6;
    opacity: 0.8;
    font-weight: 100;
}

/* This is for when using the <h2> tag */
h2{
    font-family: "roboto";
    font-size:40pt;
    color: #76a3b6;
    opacity: 0.8;

}

/* This is for when using the <header> tag*/
header{
    position: absolute;
    right:30px;
}

/* This is for the position of the welcome text and the two select buttons on the firstPage */
#optionbox{
    position: absolute;
    top: 10%;
    left: 35%;
}

/* This is for the select buttons on the FirstPage*/
.options{
    font-family: "roboto";
    font-size: 30px;
    color:white;
    background-color: #76a3b6;
    opacity: 0.8;
    float:left;
    margin-left: 30px;
    width:150px;
    height: 60px;
    display:block;



}

/* This is for the position of the staff button on the firstPage*/
#staff{
    position: absolute;
    right:10px;
    bottom: 10px;

}

/* This is the select button for staff members on the firstPage*/
#staffOption{
    font-family: "roboto";
    font-size: 20px;
    color:white;
    background-color: #76a3b6;
    opacity: 0.5;
}

/* This is for the position of the login box on the LoginPage*/
#loginbox{
    position: absolute;
    top: 10%;
    left: 30%;
    width:40%;
}

#passwordLoginOption, #unameLoginOption{
    width: 12em;
    height: 2em;
    margin-bottom: 0.5em;
    font-size: 30px;
    border: none;
    border-bottom: solid 1px;
    border-color: gray;
}

/*This is the select buttons on the LoginPage*/
.choice{
    font-family: "roboto";
    font-size: 30px;
    color:white;
    background-color: #76a3b6;
    opacity: 0.8;
    float:left;
    margin-right:5%;
    width:5em;
    display: block;
    }

/*
END of file loginstyle.css
 */