#drinksList{
    width: 65%;
}

.drinks{
    margin-left:2%;
    height: 30em;
    position: relative;
}

.orderBox {
    background-color: #76a3b6;
    width: 30%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
}

#dragNdrop{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;

}

.orderContent {
    background-color: #76a3b6;
    width: 30%;
    height: 100vh;
    position: absolute;
    top:50%;
    color: white;
    margin-top:-35vh;
    width:100%;

}

#sortButtonOrder{
    width: 65%;
    display: block;
    margin-right: auto;
    margin-left: 7%;
}

.sortButtonOrder{
    width:25%;
    height: 2em;
    margin-bottom: 8%;
    font-size: 1.3em;
}

.orderButton {
    height: 4em;
    width: 50%;
    font-size:1em;
    position: absolute;
    bottom: 13%;
    left: 25%;
    right: 25%;
}

.pricePara{
    position: absolute;
    bottom: 25%;
    left: 25%;
    right: 25%;
}

/** style for the order part of the page**/
#orderHeader{
    text-align: center;
    color: white;
}

#userOrder{
    margin-top: 5%;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#undoRedoButtons{
    position: relative;
    height:4vh;
}

.undoRedoImages{
    float: right;
    width: 1.8em;
    margin-left: 5%;
    opacity: 0.2;
}

.userItemName{
    float:left;
    width: 35%;
    color: white;
    font-size: 1.2em;
    margin-top:0;
    margin-bottom: 0;
    font-family: "roboto";
}

.userItemPrice{
    float: left;
    margin-left: 15%;
    width: 10%;
    color: white;
    font-size: 1.2em;
    margin-top:0;
    margin-bottom: 0;
    font-family: "roboto";
}

.userItemCount{
    float: left;
    margin-right: 2%;
    color: white;
    font-size: 1.2em;
    margin-top:0;
    margin-bottom: 0;
    font-family: "roboto";
}

.userItemText{
    color: white;
    font-size: 1.5em;
    margin-top:0;
    margin-bottom: 0;
    font-family: "roboto";
}

.userItemDelete{
    float: right;
    width:8%;
}

.userTotalText{
    font-size: 1.5em;
}

.userItems{
    width:92%;
    height: 7vh;
}

#totalPriceDiv{
    width: 90%;
    height: 4vh;
}

#totalText{
    float:left;
    width: 57%;
}

#totalPrice{
    float:left;
    width:43%;
}

#sendOrder{
    background-color: white;
    color: #76a3b6;
    width: 70%;
    height: 7vh;
    font-size: 2em;
    display:none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;

}

#orderWithItems{
    display:none;
}

#orderWithoutItems{
    display:block;
}

#noItemsText{
    text-align: center;
    color: white;
    font-family: "roboto";
}

/*used to see how wide and high a certain text div is */
#letterTest{
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap;
}