#drinksList{
    width: 65%;
}

.orderBox {
    background-color: #76a3b6;
    width: 30%;
    height: 100vh;
    position: fixed;
    /*left: 70%;*/
    right: 0;
    top: 0;
    background-image:url('images/dragNdrop.png');
    background-repeat: no-repeat;
    background-position-y: 30%;
    background-size: 70%;
    background-position-x: 50%;
    color: white;
}

.orderContent {
    background-color: #76a3b6;
    width: 100%;
    height: 100vh;
    position: absolute;
    top:50%;
    color: white;
}

.unredo {
    border: solid 1px;
    border-color: #ffffff;
    margin: 1%;
}