/* The overall style of the tabs menu */

/*load new font family*/
@font-face {
    font-family: roboto;
    src: url(Roboto-Thin.ttf);
    font-weight: 100;
}
 p {
    font-family: helvetica;
     font-weight: lighter;
 }

h3{
    font-family: "roboto";
    font-size:30pt;
    color: #76a3b6;

}

/*** HEADER ***/

#language {
    position: relative;
    float: right;
    top: -60px;
}

.flags {
    width:80px;
}

#en {
    opacity: 0.5;
}

#sv {
    opacity: 1;
}

/******* TABS STYLE ******/
.tabs {
    position: relative;
    overflow: hidden;
    border: none;
    background-color: white;
    font-family: "roboto";
    z-position: -1;
    padding-top: 50px;
    padding-left: 15px;
}

/* the style inside the tabs */
.tabTitle{
    margin-right: 0.3em;
    background-color: #f1f1f1;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom: none;
    box-shadow: 0 -1px 10px -1px #e1e1e1;
}

/* Style the links inside the tab */
.tabs a {
    float: left;
    display: block;
    color: #76a3b6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 35px;
    position: relative;
    z-index: 10;
}

/*
THIS IS TEMPORARY TO BE ABLE TO SEE HOVER WHEN DEVELOPING,
CAN'T BE USED ON IPAD
*/
.tabs a:hover {
    background-color: blue;
}

/* active/current tablink class */
.tabs a:focus, .active {
    background-color: white;
    border-bottom: none;
}

/******** PAGE CONTENT ***********/

/**** Style of drinks ****/
.drinks {
    width:20%;
    height: 23em;
    float: left;
    text-align: center;
    padding: 1%;
}

.drinkPic{
    height: 15em;
}

#drinksList{
    width: 100%;
}

/** Other page content **/
.tabContent {
    position: relative;
    display: none;
    padding: 6px 12px;
    box-shadow: 0 -10px 10px -5px #f1f1f1;
    border-top: none;
    width: 100%;
    margin-left: -15px;
    z-position: 1;
}

.events{
    width: 100%;
    border-top: solid 1px lightgray;
}
.eventpic{
    width: 100%;
}



.orderBox {
    background-color: #76a3b6;
    width: 30%;
    height: 100vh;
    position: fixed;
    /*left: 70%;*/
    right: 0;
    top: 0;
    background-image:url('images/dragNdrop.png');
    background-repeat: no-repeat;
    background-position-y: 30%;
    background-size: 70%;
    background-position-x: 50%;
    color: white;
}
.drinks {


}

.orderContent {
    background-color: #76a3b6;
    width: 30%;
    height: 100vh;
    position: absolute;
    top:50%;
    color: white;
}
#recDrinkDiv {
    width:40%;
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 40px;
    height: 400px;
}

#recDrink {
    position:relative;
    height: 100%;
    position: absolute;
    bottom: 0;
}

#recText {
    top:-20px;
    width:45%;
    float: right;
}

#recDrinkName {
    position: absolute;
    bottom: 100px;
}

#recDrinkPrice {
    position: absolute;
    bottom: 40px;
    opacity: 0.5;
}

#recDrinkBuy {
    position: absolute;
    bottom: 0;
    width: 150px;
    height: 70px;
    background-color:#76a3b6 ;
    font-family: roboto;
    color: white;
}